table{
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
}

td,th {
    padding: 2em;
    border: 1px solid rgba(253, 253, 253, 0);
    text-align: center;
}

.truth:hover{
    background-color:cornflowerblue;
    color: white;
}

.lie:hover{
    background-color: indianred;
}

